body {
    font-family: 'Inter', sans-serif;
    background-color: #f8fafc;
}
html {
    scroll-behavior: smooth;
}

.hero-section {
    background-image: url('/images/wa.jpg');
    background-size: cover;
    background-position: center;
}
/* Style for the modal transitions */
.modal-content {
    transition: transform 0.3s ease-out;
}

.modal.hidden .modal-content {
    transform: scale(0.95);
}

.modal {
    transition: opacity 0.3s ease;
}
.cd-words-wrapper b {
    font-weight: 700;
}
h2 {
    font-size: 2.5rem;
    font-weight: bold;
}

.cd-words-wrapper {
    display: inline-block;
    position: relative;
    height: 1em;
    overflow: hidden;
    vertical-align: top;
}

    .cd-words-wrapper b {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity 0.7s ease;
    }

        .cd-words-wrapper b.is-visible {
            opacity: 1;
            position: relative;
        }

#hotelSlider {
    scroll-behavior: smooth;
}
.tab-button {
    padding: 0.5rem 1rem;
    border-radius: 9999px;
    font-weight: 600;
    transition: background-color 0.3s, color 0.3s;
    white-space: nowrap;
}

    .tab-button.active {
        background-color: #1d4ed8;
        color: white;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

.flight-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 0.75rem;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -1px rgba(0,0,0,0.06);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

    .flight-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 10px rgba(0,0,0,0.15);
    }

