body {
    font-family: 'Inter', sans-serif;
    background-color: #f8fafc;
}

.hero-section {
    background-image: url('/images/wa.jpg');
    background-size: cover;
    background-position: center;
}
/* Style for the modal transitions */
.modal-content {
    transition: transform 0.3s ease-out;
}

.modal.hidden .modal-content {
    transform: scale(0.95);
}

.modal {
    transition: opacity 0.3s ease;
}
.cd-words-wrapper b {
    font-weight: 700;
}
h2 {
    font-size: 2.5rem;
    font-weight: bold;
}

.cd-words-wrapper {
    display: inline-block;
    position: relative;
    height: 1em;
    overflow: hidden;
    vertical-align: top;
}

    .cd-words-wrapper b {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity 0.7s ease;
    }

        .cd-words-wrapper b.is-visible {
            opacity: 1;
            position: relative;
        }